<h1>South Lake Union Bog</h1>
<p>Thank you for visiting to help us identify the curious creatures  that wander the streets south of the lake.</p>

  <div class='well'>
    <h3>Your input matters!</h3>
    <p>Your sightings help to build our database.</p>
    <p><%= link_to 'Report a Sighting', new_creature_path %></p>
    <p><%= link_to 'View all reported sightings', creatures_path %></p>
  </div>

