<h1>All Creature Sightings</h1>
<p>A record of all reported sightings.</p>


<% @creatures.each do |creature| %>
<ul>
  <li>
    <h3><%= creature.name %></h3>
    <p><%= creature.description %></p>
    <%= link_to 'Edit', edit_creature_path(creature) %>
  </li>
</ul>
<% end %>
